@import "tailwindcss";

@theme {
  --color-AzulCorporativo: #002f6c; /* fondo header, footer, btn principal */
  --color-AzulBrillante: #005bbb; /* btn llamado ala accion y acentos*/
  --color-AzulClaro: #e5f0ff; /* fondos suaves y secciones intermedias */
  --color-Blanco: #ffffff;
  --color-GrisOscuro: #1a1a1a; /* texto principal */
  --color-GrisClaro: #a5a5a5; /* testo secundario o de apoyo */

  /* breakpoint */

  --breakpoint-2md: 56.25rem;
  --breakpoint-3xl: 120rem;
}

@media (min-width: 768px) {
  .md-clipLeft {
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  }
  .md-clipRight {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
